<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!-- redis cache -->
    <bean id="redisDriver" class="com.linkedkeeper.redis.client.driver.RedisDriver"
          init-method="init" destroy-method="destroy">
        <property name="redisConf" value="127.0.0.1:6379"/>
        <property name="redisPassword" value=""/>
    </bean>

    <bean id="redisClient" class="com.linkedkeeper.redis.client.sample.SimpleRedisClient" init-method="init">
        <property name="driver" ref="redisDriver"/>
    </bean>

</beans>

